.cover {
    grid-area: cover;
    font-family: Inter, Arial, sans-serif;
    max-width: 100%;
}

@media screen and (min-width:1279px) {
    .cover {
        margin-left: 48px;
        margin-right: 48px;
    }
}