.header__lang-list {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.17;
    /* identical to box height, or 117% */
    color: #FFFFFF;
    list-style-type: none;
    align-self: center;
    margin: 0;
}

.header__lang-list:first-of-type {
    margin-right: 18px;

}

@media screen and (max-width: 665px) {
    .header__lang-list {
        font-size: 18px;
        line-height: 1.11;
    }
}