.intro__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.07;
    /* identical to box height, or 107% */
    margin-bottom: 40px;
}


@media screen and (max-width: 665px) {
    .intro__title {
        font-size: 32px;
    }
}